/* Let's highlight canvas boundaries */
@import url("https://fonts.cdnfonts.com/css/okta-neue");


.gjs-one-bg {
  background-color: transparent;
}

.gjs-two-color {
  background-color: transparent;
  color: transparent;
}

.gjs-blocks-cs {
  display: grid;
}

/* holder of the blocks */
.gjs-blocks-c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.gjs-block {
  display: grid;
  justify-items: center;
  align-items: center;
}

.gjs-block-label {
  width: 100%;
}

.gjs-sm-sectors {
  background-color: transparent !important;
}

.gjs-sm-sector {
  background-color: transparent;
  color: black;
}

.gjs-badge {
  display: none !important;
}

.gjs-toolbar {
  /* for the toolbar */
  display: none !important;
}

.gjs-cv-canvas .gjs-highlighter {
  outline: none !important;
  border: 1px solid black !important;
}
.gjs-selected-parent {
  outline: 2px solid transparent !important;
}

.gjs-placeholder {
  border-color: black;
}

.gjs-placeholder.horizontal,
.gjs-com-placeholder.horizontal,
.gjs-placeholder.horizontal {
  border-color: rgba(0, 0, 0, 0) gold !important;
  border-width: 3px 5px;
  margin: -3px 0 0;
}

.gjs-placeholder.vertical,
.gjs-com-placeholder.vertical,
.gjs-placeholder.vertical {
  border-color: rgba(0, 0, 0, 0) gold !important;
  border-width: 3px 5px;
  margin: -3px 0 0;
}

.gjs-placeholder-int,
.gjs-com-placeholder-int,
.gjs-placeholder-int {
  background-color: gold !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  pointer-events: none;
  padding: 1.5px;
  outline: none;
}

.gjs-cv-canvas {

  height: 100%;
  position: unset;
}


