@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Okta Neue";
    font-style: normal;
    font-weight: 400;
    src: url("./Okta.woff") format("woff");
  }
  @font-face {
    font-family: "Okta Neue";
    font-weight: bold;
    src: url("./Okta-bold.woff") format("woff");
  }
  html {
    font-family: "Okta Neue", sans-serif;
  }
}
